:root {
  --color-darkorange: #e05304;
  --color-orange: #f55800;
  --color-lightsalmon: #fff5e1;
  --color-white: #fff;
  --color-whitesmoke: #f4f1f0;
  --color-black-1: #1c1a19;
  --color-black-2: #3c3a39;
}

/* ========= Minimum mobile screen size ========= */
@media screen and (width >= 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }

  html {
    scroll-behavior: smooth;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style-type: none;
  }

  button,
  input,
  textarea {
    border: 1px solid transparent;
    outline: var(--color-whitesmoke);
  }

  .btn {
    padding: 0.5em 1em;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: 1px solid transparent;
    display: block;
    width: 40%;
    text-align: center;
    transition: all 500ms ease-in-out;
    cursor: pointer;
  }

  .btn:hover {
    color: var(--color-darkorange);
    background-color: var(--color-lightsalmon);
    border-color: var(--color-orange);
  }

  .btn:active {
    color: var(--color-lightsalmon);
    background-color: var(--color-darkorange);
    border-color: var(--color-darkorange);
  }

  .btn:disabled {
    color: var(--color-black-2);
    background-color: var(--color-whitesmoke);
    border-color: var(--color-whitesmoke);
  }

  .main {
    width: 90%;
  }

  /* ======== HEADER ========= */
  .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.8em;
    background-color: var(--color-black-2);
    color: var(--color-white);
    z-index: 100;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 24px;
  }

  /* ----- naviguation menu ----- */
  .menu-box {
    background-color: var(--color-black-2);
  }

  .menu-box:has(:checked) {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    position: fixed;
    top: 1.7em;
    right: 2em;
    width: 2em;
    height: 0.3em;
    appearance: none;
    background-color: var(--color-white);
    box-shadow: 0 -8px 0 0 var(--color-white), 0 8px 0 0 var(--color-white);
    cursor: pointer;
  }

  .menu-box:has(:checked) .menu {
    box-shadow: none;
    height: 0.005em;
    transform: rotate(50deg);
    opacity: 0.8;
    margin-top: 6em;
  }

  .menu-box:has(:checked) .menu::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 2em;
    height: 0.15em;
    background-color: var(--color-white);
    transform: rotate(265deg);
  }

  .menu-list {
    display: none;
  }

  .menu-box:has(.menu:checked) .menu-list {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    margin-top: -4em;
  }

  .menu-item {
    width: 60%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-lightsalmon);
    padding: 0 0 0.3em 0.5em;
    border-bottom: 1px solid var(--color-whitesmoke);
  }

  /* ======== HEADLINE SECTION ========= */
  .headline {
    height: 100vh;
    padding: 10em 1em;
    background: var(--color-black-1) url("images/Illustration-header-2.png") 100% 110% no-repeat;
  }

  .headline-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .headline-content h1 {
    font-family: 'Crete Round', serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-darkorange);
  }

  .headline-content h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-lightsalmon);
  }

  .headline-content p {
    color: var(--color-white);
  }

  /* ----- social icons ----- */
  .socials {
    margin: 1em;
  }

  .socials ul {
    display: flex;
    gap: 1em;
  }

  .socials li {
    transition: 300ms ease-in-out;
    cursor: pointer;
  }

  .skills-list li {
    margin: 1em 0;
  }

  .socials li:active,
  .socials li:focus,
  .socials li:hover {
    transform: translateY(0.2em);
    border-bottom: 1px solid var(--color-whitesmoke);
    filter: sepia(100%);
  }

  /* ----- all sections ----- */
  section {
    padding: 7em 1em;
  }

  section .separator-line {
    width: 80%;
    height: 1px;
    margin: 4em auto;
  }

  /* ======== RECENT WORKS SECTION ========= */
  .section-works .separator-line {
    background-color: var(--color-black-2);
  }

  .section-works-title h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: -1em;
  }

  .works-container {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(auto, 1fr);
  }

  /* ----- work card box ----- */
  .work-box {
    width: 90vw;
    min-width: 320px;
    height: max-content;
    border: 1px solid transparent;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;
  }

  .work-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em 0;
  }

  .work-title {
    font-size: 1.5rem;
  }

  .work-title,
  .work-description,
  .work-languages-list {
    transition: margin 500ms ease-in-out;
  }

  .work-description {
    font-size: 1.1rem;
  }

  .work-languages-list {
    display: flex;
    gap: 1em;
  }

  .see-work {
    margin-bottom: -1em;
  }

  .work-language {
    background-color: var(--color-whitesmoke);
    padding: 0.2em;
    border: 1px solid var(--color-whitesmoke);
    backdrop-filter: 10px;
    transition: background 300ms ease-in-out;
  }

  :not([class="w-disable"]) .work-title,
  :not([class="w-disable"]) .work-description,
  :not([class="w-disable"]) .see-work,
  :not([class="w-disable"]) .work-language {
    z-index: 2;
  }

  :not([class="w-disable"]) .work-title,
  :not([class="w-disable"]) .work-description,
  :not([class="w-disable"]) .work-languages-list {
    color: var(--color-white);
    margin: 0 1em;
  }

  .work-box:nth-of-type(1) .work-title,
  .work-box:nth-of-type(1) .work-description,
  .work-box:nth-of-type(1) .work-languages-list {
    color: var(--color-black-1);
  }

  .w-disable {
    background: rgb(71 71 71 / 21.1%) url("images/pro-img-2.png") center/cover no-repeat;
  }

  .w-disable .work-content {
    height: 500px;
    justify-content: flex-end;
  }

  .w-disable .see-work {
    width: 100%;
  }

  .work-box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(71 71 71 / 21.1%) url("images/pro-img-2.png") center/cover no-repeat;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms ease-in-out;
  }

  .work-box:nth-of-type(1)::before {
    background: rgb(71 71 71 / 88.3%) url("images/pro-img.png") center/cover no-repeat;
    filter: contrast(10%);
  }

  .work-box:hover::before {
    opacity: 1;
  }

  .w-disable .work-language {
    background-color: rgb(148 147 147);
  }

  .work-box:hover .see-work {
    width: 100%;
  }

  .work-img-box {
    width: 100%;
    height: 250px;
  }

  .work-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ======== ABOUT SECTION ========= */
  .about-section {
    padding-top: 3em;
    padding-bottom: 1em;
    color: var(--color-white);
    background: var(--color-black-1) url("images/illustration-about-me-mobile.png") 100% 30% no-repeat;
  }

  .about-section .separator-line {
    background-color: var(--color-whitesmoke);
  }

  .about-section-content {
    height: 80vh;
  }

  .about-section-title {
    font-size: 5rem;
    line-height: 2em;
    letter-spacing: 5px;
    font-family: 'Crete Round', serif;
    font-weight: 500;
    color: var(--color-orange);
    text-align: center;
  }

  .about-description {
    padding-right: 1em;
    line-height: 1.5em;
  }

  .btn-resume {
    margin-top: 1em;
  }

  /* ------ skills container ------ */

  /* ----- all sections ----- */
  .skills-container {
    padding: 2em 0;
  }

  .skills-list {
    text-align: center;
    margin: 1.5em 0;
  }

  .skills-list li.bold {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .prog-icon {
    margin-right: 0.5em;
  }
}

/* Form Section */

.contact-section {
  padding: 0 1em;
}

.contact-section h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  font-size: 2em;
  padding-top: 15vh;
  margin-bottom: 10vh;
}

.display-block {
  display: none;
}

.contact-form {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  border-bottom: 0.5px solid var(--color-whitesmoke);
  padding: 5vh 0 2vh 2vh;
  margin-bottom: 2vh;
}

.contact-form textarea {
  width: 100%;
  height: 10em;
  background: #fbf8f7;
  margin: 2vh 0;
  padding: 2vh 2vh 0;
}

.submit-btn {
  padding: 1em 0.5em;
  margin: 1em auto;
  font-size: 1.1rem;
  font-weight: 700;
}

/* ========= FOOTER ========= */
footer ul {
  justify-content: center;
  margin: 1em 0;
}

footer li {
  filter: invert(1);
  opacity: 0.7;
}

footer.socials li:active,
footer.socials li:focus,
footer.socials li:hover {
  transform: translateY(-0.2em);
  opacity: 1;
  filter: sepia(0%);
}

.socials .separator-line {
  background-color: var(--color-black-2);
  width: 50%;
  height: 5px;
  margin: 1em auto;
}

/* ========= Minimum desktop screen size ========= */
@media screen and (width >= 768px) {
  ::placeholder {
    font-size: 0.785rem;
    opacity: 0.5;
  }

  .main {
    width: 100%;
  }

  .btn {
    padding: 0.5em 0.2em;
    font-size: 1rem;
  }

  .hidden {
    display: none;
  }

  .menu-box {
    display: none;
  }

  /* ======== RECENT WORKS SECTION ========= */
  .section-works {
    padding: 7em 4em;
  }

  .section-works-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6em;
  }

  .section-works-title h2 {
    margin-bottom: 0;
  }

  .section-works .separator-line {
    width: 60%;
    margin: 0;
  }

  .works-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1em;
  }

  /* ----- work card box ----- */
  .work-box {
    width: 100%;
  }

  .work-box:nth-of-type(1) {
    grid-column: 1 / 4;
    margin: 0 0 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .work-box:nth-of-type(1)::before {
    display: none;
  }

  .work-box:nth-of-type(1) .work-img-box {
    height: 75vh;
  }

  .work-box:nth-of-type(1) .work-img-box img {
    width: 40em;
    height: 100%;
    object-fit: cover;
  }

  .work-box:nth-of-type(1) .work-content {
    margin-left: 2em;
    padding-top: 0;
  }

  .work-box:nth-of-type(1) .work-content * {
    margin: 0 0 0.178em;
  }

  .work-box:nth-of-type(1) .work-title {
    font-size: 2rem;
  }

  .work-box:nth-of-type(2) {
    border: 2px solid var(--color-black-1);
    background: url("images/pro-img-3.png") center/cover no-repeat;
  }

  .work-box:nth-of-type(2) .work-title,
  .work-box:nth-of-type(2) .work-description,
  .work-box:nth-of-type(2) .work-languages-list {
    display: none;
  }

  .w-disable .see-work {
    display: none;
  }

  .work-box:nth-of-type(2) .see-work {
    display: block;
  }

  .work-box:nth-of-type(3) {
    background: url("images/Data\ Dashboard\ Healthcare.png") center/cover no-repeat;
  }

  .work-box:nth-of-type(4) {
    background: url("images/Website\ Portfolio.png") center/cover no-repeat;
  }

  .work-box:nth-of-type(6) {
    background: url("images/Data\ Dashboard\ Healthcare.png") center/cover no-repeat;
  }

  .work-box:nth-of-type(7) {
    background: url("images/Website\ Portfolio.png") center/cover no-repeat;
  }

  .w-disable:hover::before {
    display: none;
  }

  /* ======== ABOUT SECTION ========= */
  .about-section {
    padding-left: 2.5em;
    padding-right: 2.5em;
    background: var(--color-black-1) url("images/illustration-about\ me.png") 100% 10% no-repeat;
  }

  .about-section-content {
    width: 36%;
    height: 50vh;
  }

  .about-section-title {
    font-size: 4rem;
    letter-spacing: normal;
    text-align: left;
  }

  .skills-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .skills-list {
    text-align: left;
    margin: 1.5em 1.5em 1.5em 0;
  }

  /* ======== FORM SECTION ========= */
  .contact-section {
    padding: 6em 2em 0;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 1fr auto;
    justify-items: stretch;
    align-items: baseline;
    position: relative;
  }

  .contact-section h2 {
    width: 316px;
    max-width: 560px;
    text-align: left;
    font-size: 1.8em;
    padding-top: 0;
    margin-right: 3.9em;
  }

  .display-block {
    display: flex;
    gap: 1em;
  }

  .contact-form {
    width: 560px;
    max-width: 580px;
    margin-bottom: 2em;
    padding-bottom: 3em;
    border-bottom: none;
  }

  .contact-form label {
    width: 100%;
  }

  .contact-form input {
    padding: 1em;
    margin-bottom: 0;
  }

  .submit-btn {
    margin: 0;
  }

  .socials {
    margin: 0;
    display: grid;
    grid-column: 2;
    justify-items: start;
  }

  .socials .separator-line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    position: absolute;
    bottom: 3em;
    left: 0;
  }
}
